*{
 padding: 0;
 margin: 0;
}

a{
 color: white;
}

.zagalovok{
display: table;
   width: 100%;
}

.name{
display: table-row;
  text-align: center;
  border: 6px solid;
  border-color: red;
  background: black; 
  color: white;
  font: helvetica;
}

.main{
display: table-row;
  text-align: center;
  border: 6px solid red;
  background: black; 
  color: white;
  font: helvetica;
}

.content{
display: table-row;
}

.info{
display: table-cell;
  text-align: left;
  border: 6px solid red;
}

.menu{
display: table-cell;
  text-align: center;
  border: 6px solid red;
  background: black; 
  color: white;
}


