. d_table{
 display: table;
  width: 100%;
}

. tr_table{
display: table-row;
}

. tr2_table{
display: table-row;
  text-align: center;
  border:6px solid red;
  background:black; 
  color:white;
}

.td_table{
display: table-cell;
  text-align: left;
  border:6px solid red;
  background:black;
  color:white;
}

.td2_table{
display: table-cell;
  text-align: center;
  border:6px solid red;
  background:black; 
  color:white;
}
